body {
  /* background-color: var(--bg-color); */
  /* background-image: url("./Images/so-white.webp"); */
  
  background-image: url("./Images/dot-grid.webp");
}


.edit-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 90;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}


.delete-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 90;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.658);
}

.pop-up-content {
  max-width: 500px;
  min-width: 320px;
  width: 50%;
  background-color: #e6e6e6;
  position: relative;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 25px;
}
.pop-up-options-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pop-up-options-container>button{
  width: 140px;
  height: 40px;
  color: white;
  outline: none;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
}

.pop-up-options-container>button:nth-child(1){
  background-color: red;
}
.pop-up-options-container>button:nth-child(2){
  background-color: green;
}
